body, p, h1, h2, h3, h4, table, td, th, ul, ol {
    font-family: verdana,helvetica,arial,sans-serif;
}
body, p, table, td, th, ul, ol {
    font-size: 12pt;
}
p, ul, ol {
    text-align: justify;
}
code, pre {
    font-family: monospace;
    font-size: 12pt;
}
code {
    color: #207000;
}
pre {
    border-left: 0.4em solid #e0e0e0;
    padding-left: 1em;
    /*
      color: #4545ae;
      font-family: monospace;
      background-color: #f5f5f5;
      text-align: left;
      display: block;
      margin: 1em 0;
      white-space: pre;
      border-color: darkgray;*/
}
h1, h2, h3, h4 {
    color: #404040;
    /*color: #699000;*/
    text-align: left;
}
h1 {
    font-size: 18pt;
    font-style: normal;
    font-weight: bold;
}
h2 {
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-size: 13pt;
    font-style: italic;
    font-weight: bold;
}
